/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}
.main{
margin: auto;
display: flex;
flex-direction: column;
}

/* Navbar styles */
.navbar {
  background-color:white; /* RedBus red */
  color: black;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  box-shadow: 0 0 10px 0 rgb(233, 229, 229);;
  z-index: 5;
}
.container{
  gap: 25px;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin-left: 80px;
}
.middle_navbar_section{
  display: flex;
  list-style-type: none;
  color: black;
  margin-left: 150px;
}
.middle_navbar_section > li{
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.middle_navbar_section > li > img{
  width: 2rem;
  margin: auto;
}
.right_navbar_section{
  margin-left: auto;
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: small;
  margin-left: 400px;
}
.right_navbar_section > li{
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}
.right_navbar_section > li > img{
  width: 20px;
}
p{
  font-size: 20px;
  color: black;
}
.main_heading{
  position: absolute;
  top: 20%;
  left: 25%;
  font-size: 35px;
}
.input_field{
  /* background-color: yellow; */
  display: flex;
  position: absolute;
  top: 30%;
  left: 5%;
  padding: 20px 80px 20px 80px;
}
.input_field > div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px 0 30px;
  border-right: 6px solid gray;
  height: 112px;  
}
.input_field > div > input{
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  color: gray;
  max-width: 195px;
}
.from{
  background-color: white;
  padding: 35px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-left: -5px;
  border: none;
  font-size: 20px;
}
.To{
  background-color:white;
  padding: 35px;
  margin-left: -5px;
  border: none;
  font-size: 20px;
}
.date{
  background-color: white;
  padding: 35px;
  margin-left: -5px;
  border: none;
  font-size: 20px;
  
}
.search{
    width: 200px;
    height: 112px;
    border-radius: 0 35px 35px 0;
    border: none;
    margin-left: -5px;
    background-color: #d84e55;
  }

button{
  font-size: 20px;
  color: white;
  background: none;
  border: none;
  font-weight: 700;
}
.input_field img {
  width: 30px;
}
/* Responsive styles */
@media (max-width: 768px) {
  .navbar-nav {
    display: none; /* Hide navbar items by default on smaller screens */
    flex-direction: column;
    background-color: #d32f2f; /* RedBus red */
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    padding: 20px;
  }
  
  .navbar-nav.active {
    display: flex; /* Show navbar items when active */
  }
  
  .nav-item {
    margin: 10px 0;
  }
}
.trending_offer{
  background-color: #d84e55;
      height: 25rem;
      width: 95%;
      margin: auto;
      background-color: white;
      position: absolute;
      top: 25rem;
      left: 2rem;
      border-radius: 30px;
      box-shadow: 1px 1px 10px grey;
}
.offer_heading{
  font-size: 32px;
  margin-left: 35px;
  margin-top: 15px;
}
.offer-list{
  display: flex;
  /* height: 18rem; */
  margin-left: 1rem;
  margin-top: 25px;
  flex-shrink: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.div-item{
  /* background-color: #ffc107; */
  /* height: 15rem; */
  display: flex;
  margin-left: 20px;
  margin-top: 2rem;
  border-radius: 30px;
  padding: 50px;
  min-width: 400px;
  gap: 20px;
  align-items: center;

}
.fist_div{
  background-image: linear-gradient(71.04deg, rgb(12, 57, 139) -6.92%, rgb(62, 118, 216) 109.43%);
}
.second_div{
  background-image: linear-gradient(71.04deg, rgb(39, 57, 101) -6.92%, rgb(80, 210, 149) 109.43%);
}
.third_div{
  background-image: linear-gradient(71.04deg, rgb(72, 0, 4) -6.92%, rgb(216, 78, 85) 109.43%);
}
.fourth_div{
  background-image: linear-gradient(71.04deg, rgb(14, 113, 67) -6.92%, rgb(115, 236, 179) 109.43%);
}
.fifth_div{
  background-image: linear-gradient(71.04deg, rgb(24, 125, 151) -6.92%, rgb(109, 213, 237) 109.43%);
}
.sixth_div{
  background-image: linear-gradient(71.04deg, rgb(206, 119, 0) -6.92%, rgb(255, 194, 111) 109.43%);
}
.left img{
  border-radius: 50%;
}
.bus{
  background-color: rgba(195, 209, 209, 0.4);
  color: white;
  padding: 10px;
  border-radius: 20px;
  width: fit-content;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

h3{
color: white;
font-weight: bold;
font-size: 1rem;
margin-bottom: 20px;
line-height: 1.5;
} 

p{
color: white;
font-size: 0.9rem;
}
.bus_rental_section{
  background-color: aqua;
  display: flex;
  margin-top: 25%;
  margin-left: 5%;
}
.bus_rental_section > .left_section > .left_header{
     font-size: 40px; 
}
.left_footer{
  display: flex;
}
.left_footer .bus_rental{
display: flex;
margin-top: 10%;
}
.left_footer .bus_rental > h4{
  display: flex;
  padding: 1rem;
  color: #d32f2f;
}
.left_footer .train_rental{
  display: flex;
  margin-top: 60px;
  margin-left: 20px;
  }
  .left_footer .train_rental > h4{
    display: flex;
    padding: 1rem;
    color: #d32f2f;
  }
  .left_footer .train_rental > img{
    width: 60px;
  }